<section class="section-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10" [formGroup]="signupForm">
    <mat-form-field>
      <input type="text" matInput placeholder="First Name" formControlName="first_name" required>
      <mat-error *ngIf="signupForm.get('first_name')?.hasError('required') && !signupForm.get('first_name')?.pristine">Field must not be empty</mat-error>
      <mat-error *ngIf="signupForm.get('frist_name')?.hasError('invalidFirstName') && !signupForm.get('first_name')?.pristine">First Name is Invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Last Name"  formControlName="last_name" required>
      <mat-error *ngIf="signupForm.get('last_name')?.hasError('required') && !signupForm.get('last_name')?.pristine">Field must not be empty</mat-error>
      <mat-error *ngIf="signupForm.get('last_name')?.hasError('invalidLastName') && !signupForm.get('last_name')?.pristine">Last Name is Invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
       <input type="email" matInput placeholder="email" formControlName="user_email" required>
       <mat-error *ngIf="signupForm.get('user_email')?.hasError('required') && !signupForm.get('user_email')?.pristine">Please provide your email</mat-error>
       <mat-error *ngIf="signupForm.get('user_email')?.hasError('email') && !signupForm.get('user_email')?.pristine">Email is Invalid</mat-error>
       <mat-error style="color: red;" *ngIf="signupForm.get('user_email')?.hasError('forbiddenEmails')">Email is not allowed</mat-error>
    </mat-form-field>
    <mat-form-field>
       <input type="text" matInput placeholder="budget" formControlName="user_budget" required>
         <span>Budget should be inputed</span>
    </mat-form-field>
    <mat-form-field>
       <input type="text" matInput placeholder="phone" formControlName="phone_number" required>
    </mat-form-field>
    <mat-checkbox name="agree" required color="primary">Agree to terms and conditions</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" (click)="showToasterSuccess()">Submit</button>
</form>
</section>
