<section class="section-plans">
  <div class="plan-box">
    <div class="row">
      <img src="/assets/img/img1.png" alt="" class="logo-img">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <strong class="line-rob">Book a demo today get two weeks for <a [routerLink]="['/users']" class="demi">free</a> why?</strong>
          <p class="long-copy">
            Because Our AI-Powered Software.
            <br class="hidden-xs">
            Will Exceed Your Marketing Goals.
          </p>
          <img src="/assets/img/img3.svg" alt="" style="width: 40%; height: 40%;">
          <img src="/assets/img/img2.png" alt="" style="width: 70%; height: 50%;">
        </div>
        <div class="col-6">
         <div class="container">
           <div class="row row-cols-2">
            <div class="col"><img src="/assets/img/img4.svg" alt="" style="width: 100%; height: 100%;"></div>
            <div class="col"><img src="/assets/img/img5.svg" alt=""></div>
           </div>
         </div>
          <form action="#" class="action" [formGroup]="signupForm">
            <strong>We'll be in touch to get your trial set up</strong>
            <p>Fill Out Our Form</p>
           <div class="form__group">
             <div class="row g-2">
               <div class="col-md">
                 <div class="form-floating">
                  <input type="text" class="form-control form__input" placeholder="first name *" formControlName="first_name" required>
                 </div>
               </div>
               <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control form__input" placeholder="last name *" formControlName="last_name">
                </div>
               </div>
             </div>
           </div>
           <div class="form-group">
            <input type="email" class="form-control form__input" placeholder="work email *" formControlName="user_email" value="email">
           </div>
           <div class="form-group">
            <input type="email" class="form-control form__input" placeholder="Monthly Advertising Budget *" formControlName="user_budget">
           </div>
           <div class="form-group">
            <input type="email" class="form-control form__input" placeholder="Romania (Roman)" formControlName="phone_number">
           </div>
           <button type="submit" class="btn btn-default" (click)="onSubmit()" (click)="showToasterSuccess()" style="background-color: #FF6E4E;">GET FREE TRIAL</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
